@"
/.gitignore        export-ignore
/.gitattributes    export-ignore
/.vscode           export-ignore
/.idea             export-ignore
/node_modules      export-ignore
/.vite             export-ignore
/coverage          export-ignore
/dist              export-ignore
/scripts           export-ignore
/src               export-ignore
/package.json      export-ignore
/package-lock.json export-ignore
/vite.config.js    export-ignore
/.github           export-ignore

* text=auto eol=lf
"@ | Set-Content .gitattributes -Encoding utf8
